ICAN_MAIL=your_mail@example.com
ICAN_PASSWORD=your_password12345
MIN_SECONDS_INTERVAL=60
MAX_SECONDS_INTERVAL=85
HEADLESS=True
SEL_LOGGED_IN_MARKER=text=PASTE_YOUR_NAME_FROM_SITE #for example: SEL_LOGGED_IN_MARKER=text=Artur
